$colors: (
    very-dark-magenta: #502050,
    soft-pink: #ee68a4,
    dark-grayish-magenta: #937b92,
    light-grayish-magenta: #f7f2f7,
    plain-white: #ffffff
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$desktop: 1000px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

body {
    font-family: 'League Spartan', sans-serif;
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 1800px;

    @include desktop {
        display: grid;
        grid-template: 3fr 4fr / 1fr 1fr;
        row-gap: 5%;
        padding: 50px;
    }
}

h1 {
    color: color(very-dark-magenta);
    font-weight: 700;
    font-size: 40px;
    width: 80%;
    margin: 50px auto 20px auto;

    @include desktop {
        text-align: left;
        margin-left: 10%;
        margin-top: 5%;
        width: 50%;
        font-size: 3rem;
    }
}

.introtext {
    color: color(dark-grayish-magenta);
    width: 87%;
    max-width: 450px;
    margin: 0 auto;
    line-height: 24px;

    @include desktop {
        text-align: left;
        margin-left: 10%;
        max-width: 400px;
    }
}

.star-review-container {
    margin: 10px auto;

    @include desktop {
        margin: 0;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }
}

.star-review-2 {
    @include desktop {
        align-self: center; 
    }
}

.star-review-3 {
    @include desktop {
        align-self: flex-end;
    }
}

.star-review {
    background-color: color(light-grayish-magenta);
    width: 300px;
    padding: 15px 0;
    margin: 15px;
    border-radius: 10px;

    @include desktop {
        display: flex;
        width: 450px;
        margin: 10px 20px;
    }
}

.star-rating {
    @include desktop {
        padding: 0 30px;
    }
}

.star {
    margin: 1px;
}

.star-review-text {
    margin: 8px 0 0 0;
    color: color(very-dark-magenta);
    font-weight: 700;

    @include desktop {
        text-align: left;
        margin: 4px 0;
    }
}

.written-review-container {
    @include desktop {
        grid-column: 1 / 3;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.written-review {
    background-color: color(very-dark-magenta);
    color: color(plain-white);
    border-radius: 10px;
    margin: 10px auto;
    text-align: left;
    padding: 30px;
    width: 75%;
    max-width: 450px;

    @include desktop {
        width: 25%;
        margin: 30px auto;
    }
}

.written-review-1 {
    @include desktop {
        align-self: flex-start;
    }
}

.written-review-3 {
    @include desktop {
        align-self: flex-end;
    }
}

.profile-picture {
    width: 40px;
    border-radius: 20px;
}

.name-and-title {
    margin-left: 20px;
}

.review-author-info {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.review-author {
    margin: 0 0 5px 0;
    font-weight: 500;
}

.verified {
    margin: 0;
    color: color(soft-pink);
    font-weight: 500;
}

.written-review-text {
    margin: 0;
    line-height: 22px;
    width: 96%;
}