$colors: (
    very-dark-magenta: #502050,
    soft-pink: #ee68a4,
    dark-grayish-magenta: #937b92,
    light-grayish-magenta: #f7f2f7,
    plain-white: #ffffff
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$desktop: 1400px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

body {
    font-family: 'League Spartan', sans-serif;
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @include desktop {
        // display: grid;
        // grid-template: 1fr 1fr / 1fr 1fr; COMMIT AND PUSH
    }
}

h1 {
    color: color(very-dark-magenta);
    font-weight: 700;
    font-size: 40px;
    width: 80%;
    margin: 50px auto 20px auto;
}

.introtext {
    color: color(dark-grayish-magenta);
    width: 87%;
    max-width: 450px;
    margin: 0 auto;
}

.star-review-container {
    margin: 10px auto;
}

.star-review {
    background-color: color(light-grayish-magenta);
    width: 300px;
    padding: 15px 0;
    margin: 15px;
    border-radius: 10px;
}

.star {
    margin: 1px;
}

.star-review-text {
    margin: 8px 0 0 0;
    color: color(very-dark-magenta);
    font-weight: 700;
}

.written-review {
    background-color: color(very-dark-magenta);
    color: color(plain-white);
    border-radius: 10px;
    margin: 10px auto;
    text-align: left;
    padding: 30px;
    width: 75%;
    max-width: 450px;
}

.profile-picture {
    width: 40px;
    border-radius: 20px;
}

.name-and-title {
    margin-left: 20px;
}

.review-author-info {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.review-author {
    margin: 0 0 5px 0;
    font-weight: 500;
}

.verified {
    margin: 0;
    color: color(soft-pink);
    font-weight: 500;
}

.written-review-text {
    margin: 0;
    line-height: 22px;
    width: 96%;
}